@model IEnumerable<BNR_ComputerClass.Models.AgendaModel>

@{
    ViewBag.Title = "Horários";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo", "Create", null, new { id = "btnNovo", @class = "btn btn-info" })
</p>

 <div id="divAgendas" class="espaco-top-5px">
    @Html.Partial("_Alunos", Model)
</div>
