@model IEnumerable<BNR_ComputerClass.Models.AgendaModel>

@{
    ViewBag.Title = "Horários";
    var select = (SelectList)@TempData["Filtro"];
}

<h2>@ViewBag.Title</h2>

<div class="form-horizontal">
    <hr />
    <div class="espaco-top-5px" id="divAgendas">
        <br />
        @Html.Partial("_Alunos", Model)
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/horario/index")
    }
</div>