@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    Bruno Neves Ribeiro<br />
    <abbr title="Celular">Cel:</abbr>
    (18)99632-7070
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bruno_jj2@hotmail.com">bruno_jj2@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:bruno.ribeiro.db1@gmail.com">bruno.ribeiro.db1@gmail.com</a>
</address>